.logo {
	width: 50%;
	float: left;
}

.menu {
	width:15%;
	float: left;
}

.menu-last {
	width:15%;
	float: right;
}

.photos {
	clear: both;
	float: left;
	width: 48%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 80px;
}

.content {
	clear: none;
	float: right;
	width: 50%;
	margin-left: 0px;
	margin-right: 0px;
}

.content h2{
	margin-top: 0px;

}

.entry-title {
	border-top: 1px solid #000000;
	margin-bottom: 50px;

}

img {
	margin-bottom: 10px;
	width: 100%;
	padding-right: 10px;
}

footer {
	clear: both;
	background-color: #000000;
	color: #FFFFFF;
}